<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>355938336767-oc4bvo50nbca9mkuj9a2llbdrmenh8jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355938336767-oc4bvo50nbca9mkuj9a2llbdrmenh8jb</string>
	<key>API_KEY</key>
	<string>AIzaSyA6oZMJ9MBRPaH197NpjCl-gYGRegb_23o</string>
	<key>GCM_SENDER_ID</key>
	<string>355938336767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.vitor.TodoFireBaseDesafio</string>
	<key>PROJECT_ID</key>
	<string>todo-9216f</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-9216f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:355938336767:ios:7e1bea381c735aab</string>
	<key>DATABASE_URL</key>
	<string>https://todo-9216f.firebaseio.com</string>
</dict>
</plist>